@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    background: #202731;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 400px;
    padding: 100px 20vw;
}

.blue {
    background-color: #3c31dd;
}

.red {
    background-color: #dd3f31;
}

.pink {
    background-color: #ff0066;
}

.dark {
    background-color: #0f0f10;
}

/* 1rst Curve */
.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: 1;
}

/* 2nd Curve */

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #0f0f10;
    z-index: 1;
}

/* 3rd Curve */
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 264px;
}

.wave .shape-fill {
    fill: #0f0f10;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave svg {
        width: calc(153% + 1.3px);
        height: 233px;
    }
}


/* 4th */
.spacer {
    aspect-ratio: 960/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
   background-image: url('/layer1.svg');
}

/* 5th */

.layer2 {
    background-image: url('/layer2.svg');
}

.flip {
    transform: rotate(180deg);
}

.blob-motion {
    position: absolute;
    transform: translateY(-20%);
}